@media (max-width: 48rem) {
    .only-responsive{display: inherit;}
    .no-responsive{display: none;}

    .h1{
        font-size: 250%;
    }

    header{
        padding: 3% 6%;
        background-color: var(--mobileHeaderBgColor);
    }

    header div #icon{
        width: 15%;
    }

    header div #icon #icon{
        width: 100%;
    }

    #responsive-nav{
        height: 30%;
    }

    footer {
        height: 10%;
        padding: 2% 3%;
    }

    footer div #author {
        width: 40%;
    }

    footer div nav {
        width: 50%;
        padding: 3%;
    }

    footer div nav div{
        width: 18%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #page-content{
        padding: 3% 4%;
    }

    .instagram-icon{
        width: 100%;
        height: 100%;
    }

    .facebook-icon{
        width: 100%;        
        height: 100%;

    }
    .x-icon{
        width: 100%;
        height: 100%;
    }

    .github-icon{
        height: 100%;
    }
}