<footer>
            <div>
                <div id="author"><span id="year">2025 Kouraecom</span></div>
                <nav>
                    <div><img src="/static/instagram-icon.png" style="width: 60%; height: 80%;"></div>
                    <div><img src="/static/facebook-icon.png" style="width: 65%; height: 80%;"></div>
                    <div><img src="/static/x-icon.png" style="width: 100%;"></div>
                    <div><img src="/static/github-icon.png" style="width: 55%; height: 70%;"></div>
                </nav>
            </div>
        </footer>