<footer>
            <div>
                <div id="author"><span id="year">2025 Kouraecom</span></div>
                <nav>
                    <div><a href=""><img src="/static/instagram-icon.png" class="instagram-icon"></a></div>
                    <div><a href=""><img src="/static/x-icon.png" class="x-icon"></a></div>
                    <div><a href=""><img src="/static/facebook-icon.png" class="facebook-icon"></a></div>
                    <div><a href=""><img src="/static/github-icon.png" class="github-icon"></a></div>
                </nav>
            </div>
        </footer>